<%- include('../layout/header.ejs') %>
<br>
<form id='login-form' action="/signin" method='post'>
  <div class="box">
    <center><h2>Login here</h2></center>
    <input type="email" placeholder="Username" id="email" name="email" required>
    <input type="password" placeholder="Password" id="password" name="password"  required>
    <button type='submit'>Login</button>
    <strong><%=msg%></strong>
  </div>
  <center><a href="/register"><label for='form-switch'>Are you new? Register Here</label></a></center>
</form>

<!-- /* The NodeJS Framework for Smart Back-End
   ▄█   ▄█▄    ▄████████    ▄████████    ▄████████ ▄██   ▄   
  ███ ▄███▀   ███    ███   ███    ███   ███    ███ ███   ██▄ 
  ███▐██▀     ███    ███   ███    █▀    ███    █▀  ███▄▄▄███ 
 ▄█████▀      ███    ███   ███         ▄███▄▄▄     ▀▀▀▀▀▀███ 
▀▀█████▄    ▀███████████ ▀███████████ ▀▀███▀▀▀     ▄██   ███ 
  ███▐██▄     ███    ███          ███   ███        ███   ███ 
  ███ ▀███▄   ███    ███    ▄█    ███   ███        ███   ███ 
  ███   ▀█▀   ███    █▀   ▄████████▀    ███         ▀█████▀  
  ▀ Author : S.Katheeskumar [https://katheesh.github.io] */ -->