APP_KEY=

# Server 
SERVER_HOST=localhost
PORT=5000

# [ mysql, mongodb, postgresql ]
DB_TYPE=null

# Mongodb  
DATABASE = mongodb://localhost:27017/opshit
JWT_KEY = adsfadsfadsd

#PostgreSQL

# mysql
DB_HOST=localhost
DB_NAME=test
DB_USER=root
DB_PASS=123456

#/* The NodeJS Framework for Smart Back-End
#   ▄█   ▄█▄    ▄████████    ▄████████    ▄████████ ▄██   ▄   
#  ███ ▄███▀   ███    ███   ███    ███   ███    ███ ███   ██▄ 
#  ███▐██▀     ███    ███   ███    █▀    ███    █▀  ███▄▄▄███ 
# ▄█████▀      ███    ███   ███         ▄███▄▄▄     ▀▀▀▀▀▀███ 
#▀▀█████▄    ▀███████████ ▀███████████ ▀▀███▀▀▀     ▄██   ███ 
#  ███▐██▄     ███    ███          ███   ███        ███   ███ 
#  ███ ▀███▄   ███    ███    ▄█    ███   ███        ███   ███ 
#  ███   ▀█▀   ███    █▀   ▄████████▀    ███         ▀█████▀  
#  ▀ Author : S.Katheeskumar [https://katheesh.github.io] */