<%- include('layout/header.ejs') %>
<center>
	<br><br><br><br><br>
	<p style="font-family: 'Maven Pro', sans-serif; font-size: 32px;">Welcome <%- req.session.username %>, to the logged Home</p>
	<a style="font-family: 'Maven Pro', sans-serif;font-size: 20px;" target="_blank" href="https://kasfy.js.org/" title="kasfy.js.org">Docs</a> 
</center>

<!-- /* The NodeJS Framework for Smart Back-End
   ▄█   ▄█▄    ▄████████    ▄████████    ▄████████ ▄██   ▄   
  ███ ▄███▀   ███    ███   ███    ███   ███    ███ ███   ██▄ 
  ███▐██▀     ███    ███   ███    █▀    ███    █▀  ███▄▄▄███ 
 ▄█████▀      ███    ███   ███         ▄███▄▄▄     ▀▀▀▀▀▀███ 
▀▀█████▄    ▀███████████ ▀███████████ ▀▀███▀▀▀     ▄██   ███ 
  ███▐██▄     ███    ███          ███   ███        ███   ███ 
  ███ ▀███▄   ███    ███    ▄█    ███   ███        ███   ███ 
  ███   ▀█▀   ███    █▀   ▄████████▀    ███         ▀█████▀  
  ▀ Author : S.Katheeskumar [https://katheesh.github.io] */ -->